{
  "env": {
    "ANTHROPIC_BASE_URL_HELPER": "grep DEEPSEEK_BASE_URL ~/.secrets | cut -d\"'\" -f2",
    "ANTHROPIC_API_KEY_HELPER": "grep DEEPSEEK_API_KEY ~/.secrets | cut -d\"'\" -f2",
    "ANTHROPIC_MODEL": "deepseek-v4-pro[1m]",
    "ANTHROPIC_SMALL_FAST_MODEL": "deepseek-v4-flash[1m]",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "deepseek-v4-pro[1m]",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "deepseek-v4-flash[1m]",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "deepseek-v4-flash[1m]",
    "CLAUDE_CODE_SUBAGENT_MODEL": "deepseek-v4-pro[1m]"
  }
}
